.order {
  width: 409px;
  padding: 24px;
  background-color: #1f1d2b;
  border-radius: 0 8px 8px 0;
}
.order-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.btn-dine {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  padding: 7px 12px;
  background-color: transparent;
  border: 1px solid #393c49;
  border-radius: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.btn-dine-active {
  background-color: #ea7c69;
  border: 1px solid #ea7c69;
}
.price-list {
  margin-top: 24px;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #393c49;
}
.price-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  &:not(:last-child) {
    margin-right: 43px;
  }
  &:nth-child(1) {
    margin-right: auto;
  }
}
.sub-total-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}
.sub-total-subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
}
.sub-sum {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.sub-total-group {
  padding: 24px 0;
}
.btn-payment {
  margin-top: 45px;
  width: 100%;
  border: none;
  padding: 14px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
}
