.totl-header-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
}
.totl-header-text {
  font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #ABBBC2;
}
.totl-header{
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #393C49;
}