.most-order-item {
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.most-order-img {
  width: 56px;
  border-radius: 50%;
  margin-right: 13px;
}
.most-order-content-title {
font-weight: 500;
font-size: 14px;
line-height: 130%;
color: #E0E6E9;
}
.most-order-content-text {
  font-weight: 400;
font-size: 12px;
line-height: 140%;
color: #ABBBC2;
}