.foods-list {
  padding-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 40px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foods-wrap {
  width: 682px;
  height: 100vh;
  padding: 0px 39px 0px 10px;
}

.foods-wrap::-webkit-scrollbar {
  width: 1em;
}

.foods-wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.foods-wrap::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1d2b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}