.setings {
  width: 100%;
  padding: 0 24px 24px 24px;
  
}
.set {
  width: 100%;
  // display: flex;
  padding: 24px;

}
.setings-wrapper {
  width: 100%;
  display: flex;

}
.header-setings {
  padding: 0 0 24px 0 ;
}
.header-setings-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}
.setings-inner{ 
  width: 100%;
  padding: 0 24px 24px 24px;
}